<form action="" method="POST">
	{% if Res%}
	<div style="margin-left:10px">
		<p>K7 RSOR</p>
		<input type="text" name="search" placeholder="Type something" value="{{search}}"><button>Search</button>
	
	</div>
	<br>
	<p>Sonuçlar:</p>
	<center>
		{% if res["wikipedia"] |length>0 %}
		<div class="mycard">
			<center><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpluspng.com%2Fimg-png%2Fwikipedia-png-open-2000.png&f=1&nofb=1" width="100"></center>
			<br>
			{% for wk in res["wikipedia"] %}
				<a href="/wikipedia/{{wk["pageid"]}}">{{wk["title"]}}</a><br>
				{{wk["snippet"]|safe}}<br><br>
			{% endfor  %}
		</div><br>
		{% endif %}
		{% if res["duckduckgoWIKI"]["Abstract"] == "" or  res["duckduckgoWIKI"]["Abstract"] == " " %}
		{% else %}
		<div class="mycard">
		<p>{{res["duckduckgoWIKI"]["Abstract"]}} <br><br><a style="color:gray;" href="{{res["duckduckgoWIKI"]["AbstractURL"]}}">{{res["duckduckgoWIKI"]["AbstractSRC"]}}</a></p>
		</div>
		{% endif %}			
	</center>

	<img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpngimg.com%2Fuploads%2Fgoogle%2Fgoogle_PNG19641.png&f=1&nofb=1" width="100">
	{% for gr in res["google"]%}
		<p style="width:80%;margin-left:20px">
			<a href="{{gr["link"]}}" style="font-size:20px">{{gr["title"] | safe}}</a><br>
			<i style="color:gray;">{{gr["htmlSnippet"] | safe}}</i><br>
			<a href="{{gr["link"]}}" style="color:green;margin-bottom:10px"> {{gr["displayLink"]}}</a>
		</p>
	{% endfor %}
	<br>
	<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2F9%2F90%2FThe_DuckDuckGo_Duck.png&f=1&nofb=1" width="100">
	{% for dr in res["duckduckgo"]%}
		<br><br>
		<div style="width:80%;margin-left:20px">
		{{dr["Result"] | safe}}
		<br>
		<a href="{{dr["FirstURL"]}}"style="color:green">{{dr["FirstURL"]}}</a>
		</div>
		<br>
	{% endfor %}
	
	<style>

		.mycard{
			border:1px solid #000;
			border-radius:5px;
			width:70%;
			text-align: left;
			font-family: verdana;
			font-size:15px;
			padding:10px;
		}
	</style>

	{% else %}
	<center><br><br>
		<p>K7 search</p>
		<input type="text" name="search" placeholder="Type something"><button>Search</button>
	</center>
	{% endif%}

</form>